html, body, #map {
	height: 100%;
	width: 100%;
	margin: 0px;
}

/* контейнер sidebar */
@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?2f1ce1');
  src: url('font/fontello.eot?7147309#iefix') format('embedded-opentype'),
       url('font/fontello.woff?3c19f2') format('woff'),
       url('font/fontello.ttf?ad63f8') format('truetype'),
       url('font/fontello.svg?7147309#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.tabIcon svg {
    width: 26px;
    height: 40px;
}

/*	for scrollbar	*/
::-webkit-scrollbar
{
	cursor: pointer;
	width: 4px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}