.scanex-sidebar .tabs {
	background-color: white;
	display: block;
}

.dark .noselect.leaflet-control {
	margin: initial;
}

.dark .scanex-sidebar .tabs {
	background-color: black;
	display: block;
	height: calc(100vh - 20px);
}

.dark .opened {
	color: white;
}

.dark .closed {
	color: lightgray;
}

.dark .TreeView {
	max-height: calc(100vh - 20px);
	height: 100%;
	border-top: inherit;
	border-bottom: inherit;
}

.dark .leaflet-iconLayers.shiftIconLayers {
	margin-left: 360px;
}

.dark .leaflet-iconLayers {
	padding-left: 44px;
}

.dark.noIconSidebar .leaflet-iconLayers {
	padding-left: inherit;
}

.dark .gmxTimeline.leaflet-control {
	left: 145px;
	right: 48px;
}

.dark .gmxTimeline.shiftTimeline.leaflet-control {
	left: 490px;
}

.dark .ace_scrollbar-v {
	width: 4px;
	background-color: beige;
}



.dark span.expander::before {
	content: url('ext/img/small.svg') !important;
	display: inline-block;
	width: 27px;
	height: 12px;
	position: relative;
	top: 0;
	float: left;
	left: 6px;
	padding-right: 3px;
}

.dark input.expander:checked+span.expander::before {
	content: url('ext/img/small-o.svg') !important;
	display: inline-block;
	width: 27px;
	height: 12px;
	position: relative;
	top: 0;
	float: left;
	left: 6px;
	padding-right: 3px;
}

.dark .group.css-treeview ul {
	padding-inline-start: 37px;
}

.dark ul.group {
	position: relative;
}

.dark .TreeView>li.line>ul.group.css-treeview>li.line>.expander::after {
	left: 13px;
	top: -4px;
	content: '';
	display: block;
	border-left: 1px solid #ddd;
	height: 1em;
	border-bottom: 1px solid #ddd;
	width: 10px;
	position: absolute;
	display: none;
}

/*.dark ul.group li .expander::after {
	left: -15px;
	top: -6px;
	content: '';
	display: block;
	height: 1em;
	border-bottom: 1px solid #D8E1E8;
	width: 14px;
	position: absolute;
	z-index: 1000000;
}*/

.dark .TreeView  li.line  ul.group.css-treeview  li.line::before {
	border-left: 1px solid #D8E1E8;
	display: block;
	position: absolute;
	content: '';
	height: calc(100% - 57px);
	left: 27px;
	top: 33px;
	width: 11px;
	border-bottom: 1px solid #D8E1E8;
}


.dark li {
	list-style: none;
	text-overflow: ellipsis;
	width: 100% !important;
	overflow: hidden;
	float: left;
	position: relative;
	line-height: 201%;
	padding-bottom: 3px;
	white-space: initial !important;
}



.dark .expanderCont {
	position: relative;
	top: -5px;
	padding-right: 0px !important;
	margin-left: -17px !important;
	z-index: 0;
	background: transparent;
}

.dark .legend-cont {
	float: left;
	position: relative;
	left: 7px;
}

.dark .point.legendIconStyle {
	width: 11px !important;
	height: 11px !important;
	position: relative !important;
	top: -1.5px !important;
}

.dark .polygon.legendIconStyle {

    width: 11px !important;
    height: 11px !important;
    position: relative !important;
    top: -2px !important;
}

.dark .pointer.cont-center {

    position: relative;
	top: 7px;
	content: url('ext/img/coord.svg') !important;
	visibility: visible !important;
	background: #FFF;
	float: right;
	padding-left: 5px;
}

.dark .pointer.cont-info {

    position: relative;
    top: 7px;
    content: url('ext/img/info.svg') !important;
    visibility: visible !important;
    background: #FFF;
    float: right;
    padding-left: 5px;
}

.dark .TreeView > li.line {

    position: relative;
    left: -15px;
}

.dark .cont-overlays {

    position: relative !important;
    padding-right: 20px;
    left: 26px !important;
    display: none;
}

.dark span .timeline .svgIcon {

    display: none;
}

.dark .pointer.title {
    z-index: 0;
    position: relative;
    bottom: 0!important;
}

.dark .legendIconEye.enabled.pointer::before {

    content: url('ext/img/preview.svg') !important;
    display: inline-block;
    width: 27px;
    height: 12px;
    position: relative;
    top: -1px;
    left: 10px;

}

.dark .legendIconEye.pointer::before {

    content: url('ext/img/preview-o.svg') !important;
    display: inline-block;
    width: 27px;
    height: 12px;
    position: relative;
    top: -1px;
    left: 10px;

}

.dark .legendIconEye.enabled.pointer svg {

    display: none !important;

}

.dark .legendIconEye.pointer svg {

    display: none !important;

}


.dark .description {
    color: #A7B6C2;
	display: block;
	position: relative;
	left: 30px;
	font-size: 10px;
	height: 100%;
	width: 100%;
	bottom: 5px;
	margin-top: -7px;
	background: transparent;
	z-index: 0;
}

.dark .description::before {

    display: block;
	position: absolute;
	width: 100vh;
	height: 94%;
	background: #EBF1F5;
	content: '';
	top: 5px;
	z-index: -1;
	left: -6px;

}



.dark li.line:hover > .cont label.title:before {
	font-weight: normal;
	background: #EBF1F5;
	position: absolute;
	content: '';
	width: 50px;
	min-height: 100vw;
	z-index: -1;
	width: 100vh;
	left: -3px;
	bottom: -7px;

}



.dark li.line:hover > .cont label.title {

    font-weight: normal!important;
}


.dark li.line:hover > .icons > .pointer.cont-center {

    position: relative;
	top: 7px;
	content: url('ext/img/coord-o.svg') !important;
	visibility: visible !important;
	background: #EBF1F5;
	float: right;
	padding-left: 5px;
}

.dark li.line:hover > .icons > .pointer.cont-info {

    position: relative;
    top: 7px;
    content: url('ext/img/info-o.svg') !important;
    visibility: visible !important;
    background: #EBF1F5;
    float: right;
    padding-left: 5px;
}

.expander.expanderInput {

    position: relative;
    top: 1px;

}








